.button {
  @include button-base();
  color: $color__white;
  background: $background__button;
  @include input-border();
  @include focusable();

  &:hover {
    background: darken($background__button, 10%);
  }

  &:focus {
    background: darken($background__button, 20%);
    @include focusable-active();
  }

  &:active {
    color: darken($color__white, 20%);
  }
}

.button-link {
  @include button-base();
  color: $color__link;
  background-color: transparent;
  border: 1px solid transparent;
  @include focusable();

  &:hover {
    background: darken($color__white, 10%);
    transition: all 0.5s;
  }

  &:focus {
    color: darken($color__link, 10%);
    @include focusable-active();
  }

  &:active {
    color: darken($color__link, 30%);
  }
}

.button-search {
  @include button-base();
  color: $color__white;
  background: $background__button-search;
  margin-left: -68px;
  border: none;
  @include input-border();
  @include focusable();

  &:hover {
    background: darken($background__button-search, 10%);
    transition: all 0.5s;
  }

  &:focus {
    background: darken($background__button-search, 20%);
    @include focusable-active();
  }

  &:active {
    color: darken($color__white, 20%);
  }
}
