@mixin focusable {
  outline: 0 !important; // overiding reboot
}

@mixin focusable-active($status: normal) {
  box-shadow: 0 0 0 2px rgba($color__input-border, 0.4);
  @if $status == "search" {
    box-shadow: 0 0 0 5px rgba($color__input-border--search, 0.4);
  }
}

@mixin input-border($state: normal) {
  @if $state == "disabled" {
    border-color: lighten($color__text-muted, 30%);
  } @else if $state == "radio" {
    border: 1px solid $color__input-border;
    border-radius: 50%;
  } @else if $state == "search" {
    border: 1px solid $color__input-border--search;
    border-radius: 0.5rem;
  } @else {
    border: 1px solid $color__input-border;
  }
}

@mixin button-base {
  display: inline-block;
  padding: $padding__button;
  height: $size__inputs-buttons;
  font-weight: bold;
  line-height: $line-height__button;
  letter-spacing: 0.5px;
}
