// Available color variables
// Aiming for “AA” of WCAG.
// Test - http://colorsafe.co/
$color__white: white;
$color__fiord: #28b485;
$color__black-russian: #202124;
$color__shuttle-grey: #5f6368;
$color__grey: #767676;
$color__royal-green: #55c57a;
$color__light-blue: #d9e9f7;
$color__matisse: #376089;
